body{
  background-color: grey;
  margin:0;
}

html {
  scroll-behavior: smooth;
}

.menu {
  background-color: #07304e;
  width: 100%;
  overflow: hidden;
  position: fixed;
  margin-top: -0.5%;
}

.yeet{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.menu a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: x-large;
  padding: 1%
}

.menu a:hover {
  background-color: #D6E8FF;
  color: #135589;
}

.block{
  background: white;
  padding: 1%
}

p {
  font-family: verdana;
  margin-left: 3%;
  margin-right: 3%;
  color: black;
  font-size: medium;
  text-align: justify
}

ul {
  font-family: verdana;
  font-style: italic
}

h2 {
  font-family: impact;
  margin-left: 3%;
}

h3 {
  font-family: impact;
  margin-left: 3%;
  margin-right: 3%;
  font-size: xx-large
}

.resources {
  font-family: verdana;
  font-style: italic;
  text-decoration: underline;
}